.modal {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.678);
  position: fixed;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  opacity: 0;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modalContent {
  width: 40vw;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 20px;
  transform: scale(0.5);
  transition: 0.2s all;
}

.modalContent.active {
  transform: scale(1);
}

.edit-text {
  border-radius: 8px;
  margin: 10px 15px;
  padding: 7px;
  font-size: 20px;
}

.information {
  width: 75%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  p {
    margin: 4px;
    margin-bottom: 10px;
  }
}

@media (max-width: 680px) {
  .modalContent.active {
    width: 70vw;
  }
}